<footer class="footer">
	<small>
		&copy; <%= Time.now.year %> Szymon Blaszczynski
	</small>
	<nav>
		<ul>
			<li><%= link_to "about.us", '#' %></li>
			<li><%= link_to "contact", '#' %></li>
		</ul>
	</nav>
</footer>