<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "bookmark-app", root_path, id: "logo", class: "brand" %>
			<nav>
				<ul class="nav pull-left">
					<li>
						<form class="navbar-search pull-left">
  						<input type="text" class="search-query" placeholder="search: descriptions, tags">
						</form>
					</li>
				</ul>
				<ul class="nav pull-right">
					
					<li><%= link_to "home", root_path %></li>
					<li class="divider-vertical"></li>
					<li><%= link_to "F1.help", help_path %></li>
					<li class="divider-vertical"></li>
					<li><%= link_to "sign.in", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>